[Desktop Entry]
Name=Ankama Launcher
Comment=Launcher for games such as Dofus and Wakfu
Exec=zaap
Terminal=false
Type=Application
Icon=com.ankama.Zaap
StartupWMClass=Ankama Launcher
Categories=Game;
MimeType=x-scheme-handler/zaap;